<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
  <title>Foster a cat</title>
</head>
<body style="margin:1% 1%; position: relative; background-image: url(http://www.pngmart.com/files/4/Kitten-PNG-Image.png);
background-repeat: no-repeat; background-size:105%">
<h1>Adopted cats database</h1>
<h2>Submit new adoption:</h2>
<form action="#" th:action="@{/catfosters}" th:object="${catDTO}" method="post">
  <p>Name: <input type="text" th:field="*{name}"/></p>
  <p>Breed: <input type="text" th:field="*{breed}"/></p>
  <select th:field="*{owner}">
    <option th:each="actualOwner:${owners}"
            th:value="${actualOwner.ownerName}" th:text="${actualOwner.ownerName}"></option>
  </select>
  <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
<div>
  <a href="/newfoster">Submit new foster owner</a>
</div>
<form th:action="@{search}" method="get">
  <div class="input-group mb-2">
    <input type="text" style="width:45%;" name="search" placeholder="Search cats by name..."/>
    <input type="submit" class="btn btn-light" value="Submit"/>
  </div>
</form>
<h2>Adopted cats:</h2>
<table style="width:50%; border: 4px solid; font-size:large"
       class="table-primary table-striped table-sm border border-warning">
  <tr align="center">
    <th>Cat name: </th>
    <th>Cat breed: </th>
    <th>Cat owner: </th>
    <th>Delete: </th>
    <th>Update: </th>
  </tr>
  <tr align="center" th:each="cat : ${cats}" th:object="${cat}">
    <td th:text="*{name}"></td>
    <td th:text="*{breed}"></td>
    <td th:text="*{owner.ownerName}"></td>
    <td>
      <form action="#" th:action="@{/catfosters/delete/} + *{id}" method="post">
        <input class="btn btn-warning" th:value="Delete" type="submit"/>
      </form>
    </td>
    <td>
      <form action="#" th:action="@{/catfosters/update/} + *{id}" method="get">
        <input class="btn btn-primary" th:value="Update" type="submit"/>
      </form>
    </td>
  </tr>
</table>
</body>
</html>