<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
  <title>New adopting owner</title>
</head>
<body>
<form action="#" th:action="@{/newfoster}" th:object="${owner}" method="post">
  <p>Please enter new foster owner's name: <input type="text" th:field="*{owner_name}"/></p>
</form>
</body>
</html>