<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
  <title>Make changes</title>
</head>
<body style="margin:1% 1%; position: relative; background-image: url(http://www.pngmart.com/files/4/Kitten-PNG-Image.png);
background-repeat: no-repeat; background-size:105%">
<form action="#" th:action="@{/catfosters/update/} + ${owner_id}" th:object="${cats}" method="post">
  <div>
    <label for="title">Todo description: </label>
    <input id="title" type="text" th:field="*{name}"/>
  </div>
  <div>
    <label for="assignee">Assigned to: </label>
    <input id="assignee" type="text" th:field="*{breed}"/>
  </div>
  <div>
    <label for="email">Email address: </label>
    <input id="email" type="text" th:field="*{owner}"/>
  </div>
    <input type="submit" class="btn btn-light" value="Submit"/>
  </div>
</form>
</body>
</html>