<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank of Simba</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table style="width: 30%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
        <th>King</th>
    </tr>
    <tr th:each="animal: ${animals}">
        <td th:text="${animalStat.count}"></td>
        <td th:text="${animal.name}"></td>
        <td th:text="${animal.balance}"></td>
        <td th:text="${animal.animalType}"></td>
        <td>
            <div th:if="${animal.isKing()} == true" th:text="'King'" th:style="'color: orange;'"/>
            <div th:unless="${animal.isKing()} == true" th:text="'Peasant'"/>
        </td>
    </tr>
</table>
</body>
</html>