<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Programer Fox Club</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<ul>
    <li><a href="#">Information</a></li>
    <li><a href="/nutritionStore">Neutrition Store</a></li>
    <li><a href="/trickCenter">Trick Center</a></li>
</ul>
<picture>
    <img src="greenfox.png" alt="Mr. Fox" style="width:auto;">
</picture>
<p th:text="'This is ' + ${fox.getName} + '. Currently living on ' +${getFood} + ' and ' +${getDrink} + '. He knows ' +${numberOfTricks} + ' tricks.'">
<h1>text="Known tricks"</h1>
<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>
</body>
</html>