<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <title>New task sheet</title>
</head>
<body>
<h1>Add new task:</h1>
<form action="#" th:action="@{/todo/add}" th:object="${todo}" method="post">
    <input type="text" name="task" th:field="*{title}"/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>
