<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <title>This is my first todo</title>
</head>
<body>
<h1>Todos for today:</h1>
<a th:href="@{/todo/add}">Submit new task</a>
    <div>
        <input type="text" id="myInput" placeholder="Search in todos"/>
    </div>
<table style="width:40%; border: 2px solid; font-size: large">
    <tr align="center">
        <th>ID</th>
        <th>TASK</th>
        <th>URGENT?</th>
        <th>DONE?</th>
        <th>DELET</th>
        <th>UPDATE</th>
    </tr>
    <tr align="center" th:each="todos : ${todoList}" th:object="${todos}">
        <td th:text="${todos.id}"/>
        <td th:text="${todos.title}"/>
        <td th:text="${todos.isUrgent}"/>
        <td th:text="${todos.isDone}"/>
        <td>
            <form action="#" th:action="@{/todo/delete/} + *{id}" method="post">
                <input class="button" th:value="Delete" type="submit"/>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/todo/update/} + *{id}" method="get">
                <input class="button" th:value="Update" type="submit"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
