<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <title>Update your tasks</title>
</head>
<body style="margin:1% 1%; position: relative; background-image: url(https://hdwallsource.com/img/2014/1/fox-wallpaper-4207-4249-hd-wallpapers.jpg);
background-repeat: no-repeat; background-size:105%">
<form action="#" th:action="@{/todo/update/} + ${assignee_id}" th:object="${todos}" method="post">
    <div>
        <label for="title">Todo description: </label>
        <input id="title" type="text" th:field="*{title}"/>
    </div>
    <div>
        <label for="assignee">Assigned to: </label>
        <input id="assignee" type="text" th:field="*{assignee}"/>
    </div>
    <div>
        <label for="email">Email address: </label>
        <input id="email" type="text" th:field="*{email}"/>
    </div>
    <div>
        <label for="urgent">Is it urgent? </label>
        <input id="urgent" type="checkbox" th:field="*{urgent}"/>
    </div>
    <div>
        <label for="done">Is it done? </label>
        <input id="done" type="checkbox" th:field="*{done}"/>
    </div>
    <div>
        <input type="submit" class="btn btn-light" value="Submit"/>
    </div>
</form>
</body>
</html>
